# Project: UltraMNIST Classification Challenge

## 1. The Objective

To predict the confirmed cases and deaths based on the previous data.

## Get the Data

Data was download from Kaggle, which includes the following files:

In [2]:
import os
fnames = os.listdir("./data")
fnames

['time_series_covid_19_confirmed_US.csv',
 'time_series_covid_19_recovered.csv',
 'time_series_covid_19_deaths_US.csv',
 'covid_19_data.csv',
 'time_series_covid_19_deaths.csv',
 'time_series_covid_19_confirmed.csv']

## Explor the Data

In [3]:
import pandas as pd

In [4]:
covid19 = pd.read_csv('./data/covid_19_data.csv')
covid19.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [5]:
covid19_tsc = pd.read_csv('./data/time_series_covid_19_confirmed.csv')
covid19_tsc.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,132118,132153,132176,132209,132215,132229,132244,132264,132285,132297
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,126156,126434,126651,126860,127107,127361,127646,127926,128198,128456
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13569,13569,13569,13569,13569,13664,13671,13682,13693,13693
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,31661,31909,32149,32441,32623,32933,33338,33607,33944,34180

In [6]:
covid19_tsr = pd.read_csv('./data/time_series_covid_19_recovered.csv')
covid19_tsr.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,55687,55790,55889,56035,56295,56518,56711,56962,57119,57281
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,127869,128425,128601,128732,128826,128907,128978,129042,129097,129215
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,87902,88066,88208,88346,88497,88672,88861,89040,89232,89419
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,13234,13234,13234,13234,13234,13263,13381,13405,13416,13416
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,26483,26513,26775,26778,27087,27204,27467,27529,27577,27646

In [7]:
covid19_tsd = pd.read_csv('./data/time_series_covid_19_deaths.csv')
covid19_tsd.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2772,2782,2792,2802,2812,2836,2855,2869,2881,2899
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2440,2441,2442,2444,2445,2447,2447,2447,2448,2449
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3401,3405,3411,3418,3426,3433,3440,3448,3455,3460
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,704,709,715,725,731,735,742,745,749,757

In [19]:
covid19_tsd['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Taiwan*', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'US', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'West Bank and Gaza', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [10]:
covid19_tsd['Province/State'].unique()

array([nan, 'Australian Capital Territory', 'New South Wales',
       'Northern Territory', 'Queensland', 'South Australia', 'Tasmania',
       'Victoria', 'Western Australia', 'Alberta', 'British Columbia',
       'Diamond Princess', 'Grand Princess', 'Manitoba', 'New Brunswick',
       'Newfoundland and Labrador', 'Northwest Territories',
       'Nova Scotia', 'Nunavut', 'Ontario', 'Prince Edward Island',
       'Quebec', 'Repatriated Travellers', 'Saskatchewan', 'Yukon',
       'Anhui', 'Beijing', 'Chongqing', 'Fujian', 'Gansu', 'Guangdong',
       'Guangxi', 'Guizhou', 'Hainan', 'Hebei', 'Heilongjiang', 'Henan',
       'Hong Kong', 'Hubei', 'Hunan', 'Inner Mongolia', 'Jiangsu',
       'Jiangxi', 'Jilin', 'Liaoning', 'Macau', 'Ningxia', 'Qinghai',
       'Shaanxi', 'Shandong', 'Shanghai', 'Shanxi', 'Sichuan', 'Tianjin',
       'Tibet', 'Unknown', 'Xinjiang', 'Yunnan', 'Zhejiang',
       'Faroe Islands', 'Greenland', 'French Guiana', 'French Polynesia',
       'Guadeloupe', 'Martinique', 'Mayotte', 'New Caledonia', 'Reunion',
       'Saint Barthelemy', 'Saint Pierre and Miquelon', 'St Martin',
       'Wallis and Futuna', 'Aruba', 'Bonaire, Sint Eustatius and Saba',
       'Curacao', 'Sint Maarten', 'Anguilla', 'Bermuda',
       'British Virgin Islands', 'Cayman Islands', 'Channel Islands',
       'Falkland Islands (Malvinas)', 'Gibraltar', 'Isle of Man',
       'Montserrat', 'Saint Helena, Ascension and Tristan da Cunha',
       'Turks and Caicos Islands'], dtype=object)

In [15]:
covid19_tsd[covid19_tsd['Country/Region'] == 'China']['Province/State'].unique()

array(['Anhui', 'Beijing', 'Chongqing', 'Fujian', 'Gansu', 'Guangdong',
       'Guangxi', 'Guizhou', 'Hainan', 'Hebei', 'Heilongjiang', 'Henan',
       'Hong Kong', 'Hubei', 'Hunan', 'Inner Mongolia', 'Jiangsu',
       'Jiangxi', 'Jilin', 'Liaoning', 'Macau', 'Ningxia', 'Qinghai',
       'Shaanxi', 'Shandong', 'Shanghai', 'Shanxi', 'Sichuan', 'Tianjin',
       'Tibet', 'Unknown', 'Xinjiang', 'Yunnan', 'Zhejiang'], dtype=object)

In [16]:
len(covid19_tsd[covid19_tsd['Country/Region'] == 'China']['Province/State'].unique())

34

In [14]:
covid19_tsd[covid19_tsd['Country/Region'] == 'US']['Province/State'].unique()

array([nan], dtype=object)

In [8]:
covid19_tsc_us = pd.read_csv('./data/time_series_covid_19_confirmed_US.csv')
covid19_tsc_us.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,7049,7106,7113,7118,7118,7126,7135,7141,7142,7142
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,21489,21511,21535,21546,21554,21578,21593,21606,21620,21620
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2326,2327,2328,2328,2328,2331,2331,2333,2334,2334
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2656,2657,2656,2658,2659,2660,2662,2666,2664,2664
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6816,6826,6829,6832,6832,6847,6856,6862,6864,6864

In [27]:
len(covid19_tsc_us.columns), list(covid19_tsc_us.columns)

(505,
 ['UID',
  'iso2',
  'iso3',
  'code3',
  'FIPS',
  'Admin2',
  'Province_State',
  'Country_Region',
  'Lat',
  'Long_',
  'Combined_Key',
  '1/22/20',
  '1/23/20',
  '1/24/20',
  '1/25/20',
  '1/26/20',
  '1/27/20',
  '1/28/20',
  '1/29/20',
  '1/30/20',
  '1/31/20',
  '2/1/20',
  '2/2/20',
  '2/3/20',
  '2/4/20',
  '2/5/20',
  '2/6/20',
  '2/7/20',
  '2/8/20',
  '2/9/20',
  '2/10/20',
  '2/11/20',
  '2/12/20',
  '2/13/20',
  '2/14/20',
  '2/15/20',
  '2/16/20',
  '2/17/20',
  '2/18/20',
  '2/19/20',
  '2/20/20',
  '2/21/20',
  '2/22/20',
  '2/23/20',
  '2/24/20',
  '2/25/20',
  '2/26/20',
  '2/27/20',
  '2/28/20',
  '2/29/20',
  '3/1/20',
  '3/2/20',
  '3/3/20',
  '3/4/20',
  '3/5/20',
  '3/6/20',
  '3/7/20',
  '3/8/20',
  '3/9/20',
  '3/10/20',
  '3/11/20',
  '3/12/20',
  '3/13/20',
  '3/14/20',
  '3/15/20',
  '3/16/20',
  '3/17/20',
  '3/18/20',
  '3/19/20',
  '3/20/20',
  '3/21/20',
  '3/22/20',
  '3/23/20',
  '3/24/20',
  '3/25/20',
  '3/26/20',
  '3/27/20',
  '3/28/20',
  '3/29/20',
  '3/30/20',
  '3/31/20',
  '4/1/20',
  '4/2/20',
  '4/3/20',
  '4/4/20',
  '4/5/20',
  '4/6/20',
  '4/7/20',
  '4/8/20',
  '4/9/20',
  '4/10/20',
  '4/11/20',
  '4/12/20',
  '4/13/20',
  '4/14/20',
  '4/15/20',
  '4/16/20',
  '4/17/20',
  '4/18/20',
  '4/19/20',
  '4/20/20',
  '4/21/20',
  '4/22/20',
  '4/23/20',
  '4/24/20',
  '4/25/20',
  '4/26/20',
  '4/27/20',
  '4/28/20',
  '4/29/20',
  '4/30/20',
  '5/1/20',
  '5/2/20',
  '5/3/20',
  '5/4/20',
  '5/5/20',
  '5/6/20',
  '5/7/20',
  '5/8/20',
  '5/9/20',
  '5/10/20',
  '5/11/20',
  '5/12/20',
  '5/13/20',
  '5/14/20',
  '5/15/20',
  '5/16/20',
  '5/17/20',
  '5/18/20',
  '5/19/20',
  '5/20/20',
  '5/21/20',
  '5/22/20',
  '5/23/20',
  '5/24/20',
  '5/25/20',
  '5/26/20',
  '5/27/20',
  '5/28/20',
  '5/29/20',
  '5/30/20',
  '5/31/20',
  '6/1/20',
  '6/2/20',
  '6/3/20',
  '6/4/20',
  '6/5/20',
  '6/6/20',
  '6/7/20',
  '6/8/20',
  '6/9/20',
  '6/10/20',
  '6/11/20',
  '6/12/20',
  '6/13/20',
  '6/14/20',
  '6/15/20',
  '6/16/20',
  '6/17/20',
  '6/18/20',
  '6/19/20',
  '6/20/20',
  '6/21/20',
  '6/22/20',
  '6/23/20',
  '6/24/20',
  '6/25/20',
  '6/26/20',
  '6/27/20',
  '6/28/20',
  '6/29/20',
  '6/30/20',
  '7/1/20',
  '7/2/20',
  '7/3/20',
  '7/4/20',
  '7/5/20',
  '7/6/20',
  '7/7/20',
  '7/8/20',
  '7/9/20',
  '7/10/20',
  '7/11/20',
  '7/12/20',
  '7/13/20',
  '7/14/20',
  '7/15/20',
  '7/16/20',
  '7/17/20',
  '7/18/20',
  '7/19/20',
  '7/20/20',
  '7/21/20',
  '7/22/20',
  '7/23/20',
  '7/24/20',
  '7/25/20',
  '7/26/20',
  '7/27/20',
  '7/28/20',
  '7/29/20',
  '7/30/20',
  '7/31/20',
  '8/1/20',
  '8/2/20',
  '8/3/20',
  '8/4/20',
  '8/5/20',
  '8/6/20',
  '8/7/20',
  '8/8/20',
  '8/9/20',
  '8/10/20',
  '8/11/20',
  '8/12/20',
  '8/13/20',
  '8/14/20',
  '8/15/20',
  '8/16/20',
  '8/17/20',
  '8/18/20',
  '8/19/20',
  '8/20/20',
  '8/21/20',
  '8/22/20',
  '8/23/20',
  '8/24/20',
  '8/25/20',
  '8/26/20',
  '8/27/20',
  '8/28/20',
  '8/29/20',
  '8/30/20',
  '8/31/20',
  '9/1/20',
  '9/2/20',
  '9/3/20',
  '9/4/20',
  '9/5/20',
  '9/6/20',
  '9/7/20',
  '9/8/20',
  '9/9/20',
  '9/10/20',
  '9/11/20',
  '9/12/20',
  '9/13/20',
  '9/14/20',
  '9/15/20',
  '9/16/20',
  '9/17/20',
  '9/18/20',
  '9/19/20',
  '9/20/20',
  '9/21/20',
  '9/22/20',
  '9/23/20',
  '9/24/20',
  '9/25/20',
  '9/26/20',
  '9/27/20',
  '9/28/20',
  '9/29/20',
  '9/30/20',
  '10/1/20',
  '10/2/20',
  '10/3/20',
  '10/4/20',
  '10/5/20',
  '10/6/20',
  '10/7/20',
  '10/8/20',
  '10/9/20',
  '10/10/20',
  '10/11/20',
  '10/12/20',
  '10/13/20',
  '10/14/20',
  '10/15/20',
  '10/16/20',
  '10/17/20',
  '10/18/20',
  '10/19/20',
  '10/20/20',
  '10/21/20',
  '10/22/20',
  '10/23/20',
  '10/24/20',
  '10/25/20',
  '10/26/20',
  '10/27/20',
  '10/28/20',
  '10/29/20',
  '10/30/20',
  '10/31/20',
  '11/1/20',
  '11/2/20',
  '11/3/20',
  '11/4/20',
  '11/5/20',
  '11/6/20',
  '11/7/20',
  '11/8/20',
  '11/9/20',
  '11/10/20',
  '11/11/20',
  '11/12/20',
  '11/13/20',
  '11/14/20',
  '11/15/20',
  '11/16/20',
  '11/17/20',
  '11/18/20',
  '11/19/20',
  '11/20/20',
  '11/21/20',
  '11/22/20',
  '11/23/20',
  '11/24/20',
  '11/25/20',
  '11/26/20',
  '11/27/20',
  '11/28/20',
  '11/29/20',
  '11/30/20',
  '12/1/20',
  '12/2/20',
  '12/3/20',
  '12/4/20',
  '12/5/20',
  '12/6/20',
  '12/7/20',
  '12/8/20',
  '12/9/20',
  '12/10/20',
  '12/11/20',
  '12/12/20',
  '12/13/20',
  '12/14/20',
  '12/15/20',
  '12/16/20',
  '12/17/20',
  '12/18/20',
  '12/19/20',
  '12/20/20',
  '12/21/20',
  '12/22/20',
  '12/23/20',
  '12/24/20',
  '12/25/20',
  '12/26/20',
  '12/27/20',
  '12/28/20',
  '12/29/20',
  '12/30/20',
  '12/31/20',
  '1/1/21',
  '1/2/21',
  '1/3/21',
  '1/4/21',
  '1/5/21',
  '1/6/21',
  '1/7/21',
  '1/8/21',
  '1/9/21',
  '1/10/21',
  '1/11/21',
  '1/12/21',
  '1/13/21',
  '1/14/21',
  '1/15/21',
  '1/16/21',
  '1/17/21',
  '1/18/21',
  '1/19/21',
  '1/20/21',
  '1/21/21',
  '1/22/21',
  '1/23/21',
  '1/24/21',
  '1/25/21',
  '1/26/21',
  '1/27/21',
  '1/28/21',
  '1/29/21',
  '1/30/21',
  '1/31/21',
  '2/1/21',
  '2/2/21',
  '2/3/21',
  '2/4/21',
  '2/5/21',
  '2/6/21',
  '2/7/21',
  '2/8/21',
  '2/9/21',
  '2/10/21',
  '2/11/21',
  '2/12/21',
  '2/13/21',
  '2/14/21',
  '2/15/21',
  '2/16/21',
  '2/17/21',
  '2/18/21',
  '2/19/21',
  '2/20/21',
  '2/21/21',
  '2/22/21',
  '2/23/21',
  '2/24/21',
  '2/25/21',
  '2/26/21',
  '2/27/21',
  '2/28/21',
  '3/1/21',
  '3/2/21',
  '3/3/21',
  '3/4/21',
  '3/5/21',
  '3/6/21',
  '3/7/21',
  '3/8/21',
  '3/9/21',
  '3/10/21',
  '3/11/21',
  '3/12/21',
  '3/13/21',
  '3/14/21',
  '3/15/21',
  '3/16/21',
  '3/17/21',
  '3/18/21',
  '3/19/21',
  '3/20/21',
  '3/21/21',
  '3/22/21',
  '3/23/21',
  '3/24/21',
  '3/25/21',
  '3/26/21',
  '3/27/21',
  '3/28/21',
  '3/29/21',
  '3/30/21',
  '3/31/21',
  '4/1/21',
  '4/2/21',
  '4/3/21',
  '4/4/21',
  '4/5/21',
  '4/6/21',
  '4/7/21',
  '4/8/21',
  '4/9/21',
  '4/10/21',
  '4/11/21',
  '4/12/21',
  '4/13/21',
  '4/14/21',
  '4/15/21',
  '4/16/21',
  '4/17/21',
  '4/18/21',
  '4/19/21',
  '4/20/21',
  '4/21/21',
  '4/22/21',
  '4/23/21',
  '4/24/21',
  '4/25/21',
  '4/26/21',
  '4/27/21',
  '4/28/21',
  '4/29/21',
  '4/30/21',
  '5/1/21',
  '5/2/21',
  '5/3/21',
  '5/4/21',
  '5/5/21',
  '5/6/21',
  '5/7/21',
  '5/8/21',
  '5/9/21',
  '5/10/21',
  '5/11/21',
  '5/12/21',
  '5/13/21',
  '5/14/21',
  '5/15/21',
  '5/16/21',
  '5/17/21',
  '5/18/21',
  '5/19/21',
  '5/20/21',
  '5/21/21',
  '5/22/21',
  '5/23/21',
  '5/24/21',
  '5/25/21',
  '5/26/21',
  '5/27/21',
  '5/28/21',
  '5/29/21'])

In [22]:
covid19_tsc_us['Province_State'].unique()

array(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'Diamond Princess', 'District of Columbia', 'Florida', 'Georgia',
       'Grand Princess', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Northern Mariana Islands', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virgin Islands', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [21]:
len(covid19_tsc_us['Province_State'].unique())

58

In [9]:
covid19_tsd_us = pd.read_csv('./data/time_series_covid_19_deaths_US.csv')
covid19_tsd_us.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,109,109,110,110,110,110,110,110,110,110
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,310,310,310,310,310,310,310,310,311,311
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,58,58,58,58,58,58,58,58,59,59
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,64,64,64,64,64,64,64,64,64,64
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,139,139,139,139,139,139,139,139,139,139

In [17]:
covid19_tsd_us['Province_State'].unique()

array(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'Diamond Princess', 'District of Columbia', 'Florida', 'Georgia',
       'Grand Princess', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Northern Mariana Islands', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virgin Islands', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [18]:
len(covid19_tsd_us['Province_State'].unique())

58

In [20]:
len(covid19_tsd_us['Country_Region'].unique())

1

## Prepare the Data

## Model selection

## Fine-Tune the model

## Conclusion